$--font-path: "~element-ui/lib/theme-chalk/fonts";

// COLORS

$color-grey-dark: #111111;
$color-grey-dusty: #999999;
$color-mercury: #e5e5e5;
$color-mercury-2: #e6e6e6;
$color-mercury-3: #e7e7e7;
$color-royal-blue: #4f2dea;
$color-sliver-chalice: #9e9e9e;
$color-alaba: #fafafa;
$color-success: #5fc227;
$color-red: #fc1818;

$color-white: #ffffff;
$color-black: #000000;
$color-transparent: transparent;

// FONT-FAMILY
$font-inter: "Inter", sans-serif;
$font-inter-rainbows: "Internal Rainbows";
$font-digital: "Digital";
$font-courier: "Courier";
$font-armata: "Armata";

// FONT-SIZE
$f1: 60px;
$f2: 48px;
$f3: 36px;
$f4: 32px;
$f5: 24px;
$f6: 20px;
$f7: 16px;
$f8: 14px;
$f9: 13px;
$f10: 12px;
$f11: 10px;
$f12: 8px;
$f13: 7px;

// FONT-WEIGHT
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-black: 900;
